@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
html, body {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  cursor: none;
}

/* For Chrome, Safari, and other WebKit browsers */
html::-webkit-scrollbar {
  display: none;
}


.gradient-text {
  font-size: 250px; /* Large font size */
  font-weight: 900; /* Bold font weight */
  color: transparent; /* Make text transparent to show gradient only */
  -webkit-text-stroke: 12px transparent;
  background-image: linear-gradient(90deg, #75B700, #456B02, #97E50E, #75B700, #E1FEAD, #82B22D, #95E110, #365400, #96E30F, #8BD30C, #C2FD5B, #97E50E, #235300); /* Multi-color gradient */
  background-clip: text; /* Clip the background gradient to the text */
  -webkit-text-fill-color: black; /* Make the fill transparent */
  -webkit-text-stroke-color: linear-gradient(90deg, #75B700, #456B02, #97E50E, #75B700, #E1FEAD, #82B22D, #95E110, #365400, #96E30F, #8BD30C, #C2FD5B, #97E50E, #235300);  /* Set stroke (outline) color to gradient */
}


/* Custom breakpoint for very small devices (240px) */
@media (min-width: 240px) {
  .gradient-text {
    font-size: 80px;
    -webkit-text-stroke: 3px transparent;
  }
}

@media (min-width: 576px) { /* Small devices */
  .gradient-text {
    font-size: 120px;
    -webkit-text-stroke: 6px transparent;
  }
}

@media (min-width: 768px) { /* Medium devices */
  .gradient-text {
    font-size: 180px;
    -webkit-text-stroke: 12px transparent;
  }
}

@media (min-width: 992px) { /* Large devices */
  .gradient-text {
    font-size: 200px;
    -webkit-text-stroke: 10px transparent;
  }
}

@media (min-width: 1200px) { /* Extra large devices */
  .gradient-text {
    font-size: 250px;
    -webkit-text-stroke: 12px transparent;
  }
}

@media (min-width: 1400px) { /* Extra extra large devices */
  .gradient-text {
    font-size: 300px;
    -webkit-text-stroke: 14px transparent;

  }
}