

  body {
    background-color: #000;
    font-family: Avenir, sans-serif;
    color: #fffce1;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none; 
    overflow-y: hidden;
    
  }
  
  /* Hide the vertical scrollbar */
body {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

  .xxv-text {
    margin: 0;
    text-align: center;
    font-size: 14rem;
    overflow: hidden;
    line-height: 1;
    display: flex;
    justify-content: center;
  }
  
  
  .glow1 {
    position: absolute;  
    z-index: 10;         
    top: 0%;         
    left: 50%;   
    transform: translate(-50%, -50%) translateY(-20%);       
    
  }
    
  .xxv-gradient {
    background: linear-gradient(90deg, #FEF7FF 0%, #A2A0A2 7%, #EEEEEE 10.5%, #A2A0A2 22%, #FFFFFF 40.5%, #7E7E7E 52%, #BFBFBF 60.5%, #939393 80.5%, #FFFFFF 90%, #989499 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

/* Extra small devices (phones, 320px to 575px) */
@media (min-width: 320px) and (max-width: 575px) {
  /* Styles for screens between 320px and 575px */
}

/* Small devices (phones, 576px to 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for screens between 576px and 767px */
}

/* Medium devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for screens between 768px and 991px */
}

/* Large devices (desktops, 992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for screens between 992px and 1199px */
}

/* Extra large devices (large desktops, 1200px to 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* Styles for screens between 1200px and 1399px */
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for screens 1400px and up */
}

 